<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrap">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <script>
    $(function(){
        $("#element").typed({
          strings: ["writes {code}.", "loves to travel ^800 a lot ;)", "loves to eat food.", "is no one ^1000 xD."],
          typeSpeed: 0,
          loop: true,
          loopCount: false,
          shuffle: true,
          typeSpeed: 30,
          backDelay: 700,
          showCursor: true
        });
    });
  </script>
  </body>
</html>
