<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
    <script>
      $(function(){
          $("#element").typed({
            strings: ["writes {code}.", "loves to travel.", "loves to eat food.", "is no one ^1000 xD."],
            typeSpeed: 0,
            loop: true,
            loopCount: false,
            shuffle: true,
            typeSpeed: 30,
            backDelay: 500,
            showCursor: true
          });
      });
    </script>
    </body>
</html>
